// Robot

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../../assets/fonts/roboto/Roboto-Light.woff') format('woff'),
    url('../../assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../../assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('../../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../../assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('../../assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight:600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../../assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('../../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}

// Suisse
@font-face {
  font-family: 'Suisse';
  src: url('../../assets/fonts/suisse/SuisseIntl-Regular.woff2') format('woff2'),
    url('../../assets/fonts/suisse/SuisseIntl-Regular.woff') format('woff'),
    url('../../assets/fonts/suisse/SuisseIntl-Regular.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse';
  src: url('../../assets/fonts/suisse/SuisseIntl-Medium.woff2') format('woff2'),
    url('../../assets/fonts/suisse/SuisseIntl-Medium.woff') format('woff'),
    url('../../assets/fonts/suisse/SuisseIntl-Medium.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}


