.modal {

    &.fade.show {
        height: 100vh;
    }
    
    &-content {
        background-color: $grey;
        border-radius: 1.25rem;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;

        @include lg {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-bottom: 1.5rem;
            padding-top: 1.25rem;
        }

    }

    &-privacy {
        margin-top: 2rem;

        &.error {
            & .checkbox__label {
                color: red;
            }

            & .error-label {
                display: none !important;
            }

        }

        & .checkbox__label {

            color: $white;
            margin-left: .5rem;
            font-size: 0.75rem;

            @include lg {
                font-size: 1.125rem;
            }
        }

        & .checkbox__input {
            width: 1.5rem;
            height: 1.5rem;
        }

    }

    &-header {
        border: none !important;
    }

    &-footer {
        border: none;
    }

    &-close {
        width: 1.25rem !important;
        height: 1.25rem;
        position: relative;
        background: none;
        background-image: none;

        & svg {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }

    &-title {
        color: $white;
        font-weight: 600;
    }


    & button {
        width: 100%;
        margin-top: 1.5rem;
    }
}

.input-group {
    gap: 1.5rem;
}

.input-wrap {

    // overflow: hidden;
    border-radius: .75rem !important;
    height: 3.5rem;
    border: 1px solid $white;

    &.error {
        border-color: red;
    }

    & .error-label {
        color: red;
        font-size: 0.75rem;
        line-height: 105%;
    }

    & input {
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        border: none;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        border-radius: .5rem;
        background-color: transparent;
        color: white;

        &::placeholder {
            // color: $white;
            font-weight: 600;
            opacity: 0.8;
        }
    }
}