// Variables(colors):
$accent: rgba(255, 248, 27, 1);
$accent-2: rgba(221, 233, 245, 1);

$white: rgba(255, 255, 255, 1);

$black: rgba(12, 12, 12, 1);
$black-2: rgba(21, 21, 21, 1);

$grey: rgba(41, 41, 41, 1);
$grey-light: rgba(246, 246, 246, 1);

$blur: rgba(217, 217, 217, 0.08);

// Variables(font-sizes): 
$baseFontsize: 18px;

// Variables(breakpoints): 
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
